.container {
    display: flex;
    justify-content: space-between;
}

.half {
    width: 750px;
}

.msg-bigger {
    width: 1000px;
}

.msg-small {
    width: 450px;
}

.col {
    /* flex-basis: 39%; */
}

.col-small {
    flex-basis: 59%;
}

.col-large {
    flex-basis: 75%;
}

.title {
    flex-basis: 100%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.reveal section .small {
    font-size: 0.6em;
    line-height: 1.5em;
}

.reveal section {
    /* word-spacing: 4px; */
}

.reveal pre {
    box-shadow: none;
}

.reveal .slides .te{
    text-align: left;
}

.highlight{
    background-color: blanchedalmond;
    color: red;
}

#author-intro{
    text-align:left;
    padding-left: -100px;    
}

@media screen and (min-width:1200px) {
    .reveal pre code {
        max-height: 600px;
    }

    .reveal .half pre ,
    .reveal .msg-bigger pre ,
    .reveal .msg-small pre
    {
        margin: 0;
    }

    .reveal .half pre code ,
    .reveal .msg-bigger pre code ,
    .reveal .msg-small pre code {
        width: 100%;
    }
}