.container {
    display: flex;
}

.col {
    flex-basis: 50%;
}

.title {
    flex-basis: 100%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.reveal section .small {
    font-size: 0.6em;
    line-height: 1.5em;
}

.reveal section {
    word-spacing: 6px;
}